.container {
    z-index: 100;
    -webkit-transform: translateY(100vh);
    -ms-transform: translateY(100vh);
    transform: translateY(100vh);
    pointer-events: none;
    opacity: 1;
    transition-delay: 0.4s;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.container.intro {
    border-radius: 15px;
    opacity: 0.5;
    backdrop-filter: blur(10px);
    margin: auto;
    width: 700px;
    height: 150px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.notification {
    opacity: 0.3;
    position: absolute;
    width: 700px;
    height: 150px;
    top: 0;
    left: 0;
    z-index: -1;
}
.container#frame1{
    opacity: 1;
    transform: translateY(0);
}

.container .sparkle {
    z-index: 2;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
}

/* Определяем ключевые кадры для анимации */
@keyframes sparkle1 {
    0% { opacity: 1; }
    25% { opacity: 0; }/* Начальное состояние - полностью видимый */
    80% { opacity: 0; }/* Середина анимации - полностью прозрачный */
    100% { opacity: 1; } /* Конечное состояние - снова полностью видимый */
}

@keyframes sparkle2 {
    0% { opacity: 1; } /* Начальное состояние - полностью видимый */
    70% { opacity: 0; } /* Середина анимации - полностью прозрачный */
    100% { opacity: 1; } /* Конечное состояние - снова полностью видимый */
}

.container .sparkle#sparkle1 {
    left: -102px;
    top: -102px;
    animation: sparkle1 2s infinite; /* Добавляем анимацию */
    animation-delay: 0.3s;
}
.container.intro .sparkle#sparkle2 {
    right: -104px;
    bottom: -102px;
    animation: sparkle2 2s infinite; /* Добавляем анимацию */
}
.container .sparkle#sparkle3 {
    right: -32px;
    top: -25px;
    animation: sparkle1 2s infinite; /* Добавляем анимацию */
    animation-delay: 0.3s;
}
.container .sparkle#sparkle4 {
    bottom: -30px;
    left: -30px;
    animation: sparkle2 2s infinite; /* Добавляем анимацию */
}

.container.phone {
    width: 1256px;
    height: 696px;
    position: fixed;
    max-width: 1398px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    z-index: 100;
}
.postcontainer {
    background-image: url(../assets/bg-phone.png);
    height: 525px;
    overflow: hidden;
    position: fixed;
    width: 1130px;
    margin: 84px 0 100px 59px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    z-index: 1;
}

.bg-phone {
    background-image: url(../assets/phone_pic.png);
    width: 1256px;
    height: 696px;
    position: fixed;
    max-width: 1398px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    z-index: 100;
    pointer-events: none;
}

.postcontainerFull {
    height: auto;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}
.postcontainer::-webkit-scrollbar,
.postcontainerFull::-webkit-scrollbar
{
    display: none;
}
.container.phone.lastphone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transform: translateY(100vh);
    transition: all 0.5s ease-in-out;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    background: none;
}
.FullWidth {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transform: translateY(100vh);
    transition: all 0.5s ease-in-out;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}
.FullWidth::-webkit-scrollbar {
    /* Safari and Chrome */
    display: none;
}

@media (min-width: 960px) and (max-width: 1399px) {
    .container.intro {
        width: 600px;
        height: 120px;
        position: absolute;
    }
    .notification {
        opacity: 0.3;
        position: absolute;
        overflow: hidden;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .container.phone {
        width: 950px;
        height: 524px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
    }
    .container .sparkle#sparkle3 {
        right: -53px;
        top: -53px;
        animation: sparkle1 2s infinite; /* Добавляем анимацию */
        animation-delay: 0.3s;
    }
    .container .sparkle#sparkle4 {
        bottom: -52px;
        left: -52px;
        animation: sparkle2 2s infinite; /* Добавляем анимацию */
    }
    .postcontainer {
        height: 410px;
        width: 863px;
        overflow: hidden;
        position: fixed;
        margin: 55px 0 0 45px;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
        display: flex;
    }
    .bg-phone {
        background-image: url(../assets/phone_pic-notebook.png);
        width: 950px;
        height: 524px;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
        z-index: 100;
        pointer-events: none;
        background-position: center;
    }

}
@media (min-width: 560px) and (max-width: 959px) {
    .container.intro {
        width: 370px;
        height: 120px;
        position: absolute;
    }
    .notification {
        opacity: 0.3;
        position: absolute;
        overflow: hidden;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .container.phone {
        background-image: none;
        width: auto;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
    }
    .bg-phone{
        background: unset;
        height: 100%;
        width: 100%;
    }
    #sparkle3,
    #sparkle4 {
        display: none;
    }
    .postcontainer {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: fixed;
        margin: 0;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
        display: flex;
        background: unset;
    }
    .container.phone.lastphone {
        background-image: none;
    }
}

@media (min-width: 320px) and (max-width: 559px) {
    .container.intro {
        width: 250px;
        height: 120px;
        position: absolute;
    }
    .notification {
        opacity: 0.3;
        position: absolute;
        overflow: hidden;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .container.phone {
        background-image: none;
        width: auto;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
    }
    #sparkle3,
    #sparkle4 {
        display: none;
    }
    .postcontainer {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: fixed;
        margin: 0;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
        display: flex;
        background: unset;

    }
    .bg-phone{
        background: unset;
        height: 100%;
        width: 100%;
    }
    .container.phone.lastphone {
        background-image: none;
    }
}


