@charset "UTF-8";
.lastblock {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  font-family: "Futura PT", sans-serif;
}
.lastblock #postcontainer4.postcontainer {
  height: auto;
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.lastblock .lastblock_ps {
  font-size: 20px;
  margin: 0;
  line-height: 110%;
}
.lastblock .lastblock_ps a {
  color: #FFE093;
  text-decoration: none;
}
.lastblock .lastblock_ps a:hover {
  text-decoration: underline;
}
.lastblock .lastblock_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 940px;
  height: 750px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lastblock .lastblock_info {
  width: 580px;
  height: 750px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.lastblock .lastblock_info .lastblock_img {
  margin-bottom: 40px;
  width: 150px;
  height: 150px;
}
.lastblock .lastblock_info .silver {
  filter: grayscale(100%);
}
.lastblock .lastblock_info .lastblock_bg {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none; /* Для Firefox */
  -webkit-user-select: none; /* Для Chrome, Safari и Opera */
  -ms-user-select: none; /* Для Internet Explorer/Edge */
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.lastblock .lastblock_info .lastblock_h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  position: relative;
  margin: 0 0 20px 0;
  text-align: center;
  background: linear-gradient(158.27deg, #160D0B -26.36%, #CB8001 -0.2%, #FCDA84 26.9%, #FEF4A4 66.15%, #FCDA84 103.53%, #CB8001 137.17%, #180F0D 159.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lastblock .lastblock_info .lastblock_p {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  height: auto;
  position: relative;
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  background: linear-gradient(158.27deg, #160D0B -26.36%, #CB8001 -0.2%, #FCDA84 26.9%, #FEF4A4 66.15%, #FCDA84 103.53%, #CB8001 137.17%, #180F0D 159.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lastblock .lastblock_info .lastblock_p b {
  background: linear-gradient(158.27deg, #160D0B -26.36%, #CB8001 -0.2%, #FCDA84 26.9%, #FEF4A4 66.15%, #FCDA84 103.53%, #CB8001 137.17%, #180F0D 159.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
.lastblock .lastblock_info .lastblock_cost {
  margin-bottom: 25px;
}
.lastblock .lastblock_info .lastblock_cost .lastblock_p {
  margin-bottom: 5px;
}
.lastblock .lastblock_info .reg {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lastblock .lastblock_info .lastblock_ps {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  height: auto;
  position: relative;
  text-align: center;
  background: linear-gradient(158.27deg, #160D0B -26.36%, #CB8001 -0.2%, #FCDA84 26.9%, #FEF4A4 66.15%, #FCDA84 103.53%, #CB8001 137.17%, #180F0D 159.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lastblock .lastblock_info .lastblock_alt {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  height: auto;
  position: relative;
  text-align: center;
  background: linear-gradient(158.27deg, #160D0B -26.36%, #CB8001 -0.2%, #FCDA84 26.9%, #FEF4A4 66.15%, #FCDA84 103.53%, #CB8001 137.17%, #180F0D 159.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

@media (min-width: 960px) and (max-width: 1399px) {
  .lastblock .lastblock_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 714px;
    height: 553px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .lastblock .lastblock_ps {
    font-size: 20px;
    margin: 0;
    line-height: 110%;
  }
  .lastblock .lastblock_ps a {
    color: #FFE093;
    text-decoration: none;
  }
  .lastblock .lastblock_ps a:hover {
    text-decoration: underline;
  }
  .lastblock .lastblock_info {
    width: 654px;
    height: 208px;
    margin: auto;
    display: flex;
    position: relative;
    align-items: flex-end;
    padding: 30px;
    background: linear-gradient(254.41deg, rgba(54, 101, 157, 0.3) -11.32%, rgba(77, 136, 190, 0.3) 0.28%, rgba(232, 249, 255, 0.3) 48.18%, rgba(77, 129, 190, 0.3) 96.86%, rgba(54, 101, 157, 0.3) 103.1%);
    border-radius: 20px;
  }
  .lastblock .lastblock_info .lastblock_img {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 135px;
    height: 143px;
  }
  .lastblock .lastblock_info .lastblock_bg {
    pointer-events: none;
    user-select: none;
    -moz-user-select: none; /* Для Firefox */
    -webkit-user-select: none; /* Для Chrome, Safari и Opera */
    -ms-user-select: none; /* Для Internet Explorer/Edge */
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  .lastblock .lastblock_info .lastblock_h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    position: absolute;
    left: 185px;
    top: 30px;
    margin: 0 0 20px 0;
    text-align: center;
  }
  .lastblock .lastblock_info .lastblock_p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    height: auto;
    position: absolute;
    text-align: left;
    top: 71px;
    left: 185px;
    width: 240px;
  }
  .lastblock .lastblock_info .lastblock_cost {
    margin-bottom: 10px;
    position: relative;
  }
  .lastblock .lastblock_info .lastblock_cost .lastblock_p {
    margin-bottom: 5px;
    position: relative;
    top: 0;
    left: 0;
  }
  .lastblock .lastblock_info .reg {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: fit-content;
  }
  .lastblock .lastblock_info .lastblock_alt {
    font-size: 18px;
    position: absolute;
    left: 195px;
    bottom: 30px;
    margin: 0;
  }
  .lastblock .lastblock_info .lastblock_ps {
    position: absolute;
    text-align: left;
    width: 350px;
    font-size: 14px;
    left: 195px;
    bottom: 30px;
    margin: 0;
  }
}
@media (min-width: 560px) and (max-width: 959px) {
  .lastblock .lastblock_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .lastblock .lastblock_ps {
    font-size: 20px;
    margin: 0;
    line-height: 110%;
  }
  .lastblock .lastblock_ps a {
    color: #FFE093;
    text-decoration: none;
  }
  .lastblock .lastblock_ps a:hover {
    text-decoration: underline;
  }
  .lastblock .lastblock_info {
    width: 420px;
    height: 200px;
    margin: auto;
    display: flex;
    position: relative;
    align-items: flex-end;
    padding: 20px;
    background: linear-gradient(254.41deg, rgba(54, 101, 157, 0.3) -11.32%, rgba(77, 136, 190, 0.3) 0.28%, rgba(232, 249, 255, 0.3) 48.18%, rgba(77, 129, 190, 0.3) 96.86%, rgba(54, 101, 157, 0.3) 103.1%);
    border-radius: 20px;
  }
  .lastblock .lastblock_info .lastblock_img {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 75px;
    height: 80px;
  }
  .lastblock .lastblock_info .lastblock_bg {
    pointer-events: none;
    user-select: none;
    -moz-user-select: none; /* Для Firefox */
    -webkit-user-select: none; /* Для Chrome, Safari и Opera */
    -ms-user-select: none; /* Для Internet Explorer/Edge */
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  .lastblock .lastblock_info .lastblock_h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    position: absolute;
    left: 110px;
    top: 20px;
    margin: 0 0 20px 0;
    text-align: center;
  }
  .lastblock .lastblock_info .lastblock_p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    height: auto;
    position: absolute;
    text-align: left;
    top: 41px;
    left: 110px;
    width: 150px;
  }
  .lastblock .lastblock_info .lastblock_cost {
    margin-bottom: 5px;
    position: relative;
  }
  .lastblock .lastblock_info .lastblock_cost .lastblock_p {
    margin-bottom: 5px;
    position: relative;
    top: 0;
    left: 0;
  }
  .lastblock .lastblock_info .reg {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: fit-content;
    scale: 0.8;
  }
  .lastblock .lastblock_info .lastblock_alt {
    font-size: 14px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    margin: 0;
  }
  .lastblock .lastblock_info .lastblock_ps {
    position: absolute;
    text-align: left;
    width: 250px;
    font-size: 12px;
    left: 20px;
    bottom: 20px;
    margin: 0;
  }
}
@media (min-width: 320px) and (max-width: 559px) {
  .lastblock .lastblock_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .lastblock .lastblock_ps {
    font-size: 20px;
    margin: 0;
    line-height: 110%;
  }
  .lastblock .lastblock_ps a {
    color: #FFE093;
    text-decoration: none;
  }
  .lastblock .lastblock_ps a:hover {
    text-decoration: underline;
  }
  .lastblock .lastblock_info {
    width: 250px;
    height: 120px;
    margin: auto;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    padding: 95px 20px 20px 20px;
    background: linear-gradient(254.41deg, rgba(54, 101, 157, 0.3) -11.32%, rgba(77, 136, 190, 0.3) 0.28%, rgba(232, 249, 255, 0.3) 48.18%, rgba(77, 129, 190, 0.3) 96.86%, rgba(54, 101, 157, 0.3) 103.1%);
    border-radius: 20px;
  }
  .lastblock .lastblock_info .lastblock_img {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 55px;
    height: 60px;
  }
  .lastblock .lastblock_info .lastblock_bg {
    pointer-events: none;
    user-select: none;
    -moz-user-select: none; /* Для Firefox */
    -webkit-user-select: none; /* Для Chrome, Safari и Opera */
    -ms-user-select: none; /* Для Internet Explorer/Edge */
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  .lastblock .lastblock_info .lastblock_h2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    position: absolute;
    left: 85px;
    top: 20px;
    margin: 0 0 20px 0;
    text-align: center;
  }
  .lastblock .lastblock_info .lastblock_p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    height: auto;
    position: absolute;
    text-align: left;
    top: 41px;
    left: 85px;
    width: fit-content;
  }
  .lastblock .lastblock_info .lastblock_cost {
    margin-bottom: 5px;
    position: relative;
    width: 50%;
  }
  .lastblock .lastblock_info .lastblock_cost .lastblock_p {
    margin-bottom: 5px;
    position: relative;
    top: 0;
    left: 0;
  }
  .lastblock .lastblock_info .reg {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: fit-content;
    scale: 0.8;
  }
  .lastblock .lastblock_info .lastblock_alt {
    font-size: 14px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    margin: 0;
  }
  .lastblock .lastblock_info .lastblock_ps {
    position: absolute;
    text-align: left;
    width: 180px;
    font-size: 10px;
    left: 20px;
    bottom: 20px;
    margin: 0;
  }
}

/*# sourceMappingURL=ContentLastBlock.css.map */
