@charset "UTF-8";
.modal {
  position: fixed; /* Позиционирование фиксировано, чтобы оно всегда оставалось на месте, даже при прокрутке страницы */
  top: 0; /* Отступ сверху равен 0, чтобы оно начиналось с верхнего края экрана */
  left: 0; /* Отступ слева равен 0, чтобы оно начиналось с левого края экрана */
  width: 100vw; /* Ширина равна 100%, чтобы оно занимало всю ширину экрана */
  height: 100vh; /* Высота равна 100%, чтобы оно занимало всю высоту экрана */
  overflow: hidden; /* Если содержимое модального окна превышает его размеры, появляется полоса прокрутки */
  background-color: rgba(0, 0, 0, 0.4); /* Полупрозрачный черный фон */
  color: #713513;
  z-index: 9999;
  opacity: 0;
  transition: 0.3s ease-in-out;
  font-family: "Futura PT", sans-serif;
  line-height: 110%;
}
.modal.show {
  opacity: 1;
}
.modal .modal-content {
  margin: auto; /* 15% от верхнего края экрана до модального окна и автоматические отступы по бокам */
  position: fixed; /* Позиционирование относительно окна браузера */
  top: 50%; /* Позиционирование от верхнего края окна браузера */
  left: 50%; /* Позиционирование от левого края окна браузера */
  transform: translate(-50%, -50%);
  padding: 50px;
  width: 900px; /* Ширина модального окна равна 80% */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  background: linear-gradient(37deg, rgb(251, 245, 231) -13.83%, rgb(255, 250, 239) 50.49%, rgb(241, 233, 215) 86.98%, rgb(202, 189, 163) 109.35%);
}
.modal .modal-content .close {
  font-size: 100px;
  cursor: pointer;
  text-align: right;
  width: 100%;
  height: 50px;
  line-height: 50%;
  transition: 0.2s ease-in-out;
}
.modal .modal-content .close:hover {
  text-shadow: 0 6px 6px black;
  transform: translateY(-6px);
}
.modal .modal-content h2 {
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  margin: 0 0 25px 0;
}
.modal .modal-content p {
  color: #713513;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 26.4px */
}
.modal .modal-content .showprivacy {
  color: #713513;
  text-decoration: underline;
  cursor: pointer;
}
.modal .modal-content .success,
.modal .modal-content .error {
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  margin-top: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.modal .modal-content .again {
  padding: 20px 40px;
  background-color: #DCB354;
  color: #FFF9F1;
  font-size: 20px;
  line-height: 96%;
  width: 330px;
  border: none;
  border-radius: 80px;
  display: block;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s;
  font-family: "Futura PT", sans-serif;
}
.modal .modal-content .again:hover {
  scale: 1.05;
  -webkit-box-shadow: rgba(241, 236, 229, 0.3960784314) 0px 0px 10px 0px;
  box-shadow: rgba(241, 236, 229, 0.3960784314) 0px 0px 10px 0px;
}
.modal .modal-content .icon {
  width: 115px;
  height: 115px;
  margin: 40px 0;
}
.modal .modal-content form {
  margin-top: 5px;
  width: 600px;
  height: 420px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.modal .modal-content form input {
  border: 3px solid #FBD77D;
  border-radius: 15px;
  margin: 0 0 25px 0;
  padding: 15px 20px;
  width: 552px;
  color: #FBD77D;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Futura PT", sans-serif;
  font-size: 24px;
}
.modal .modal-content form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255, 224, 147, 0.5019607843) !important;
  opacity: 1;
}
.modal .modal-content form input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 224, 147, 0.5019607843) !important;
  opacity: 1;
}
.modal .modal-content form input::-ms-input-placeholder { /* IE 10+ */
  color: rgba(255, 224, 147, 0.5019607843) !important;
  opacity: 1;
}
.modal .modal-content form input::-moz-placeholder { /* Firefox 18- */
  color: rgba(255, 224, 147, 0.5019607843) !important;
  opacity: 1;
}
.modal .modal-content form input::placeholder { /* Most modern browsers support this now. */
  color: rgba(255, 224, 147, 0.5019607843) !important;
}
.modal .modal-content form input.name-field {
  width: 242px;
  margin-bottom: 20px;
}
.modal .modal-content form input.first {
  margin-right: 20px;
}
.modal .modal-content form input.button-submit {
  padding: 20px 40px;
  background: linear-gradient(238deg, #713513 0.85%, #BE7C4D 43.51%, #DCAE7B 47.39%, #BE7C4D 50.62%, #713513 90.69%);
  color: #FFF9F1;
  font-size: 20px;
  line-height: 96%;
  width: 330px;
  border: none;
  border-radius: 80px;
  display: block;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s;
  opacity: 1;
}
.modal .modal-content form input.button-submit:hover {
  scale: 1.05;
  -webkit-box-shadow: rgba(241, 236, 229, 0.3960784314) 0px 0px 10px 0px;
  box-shadow: rgba(241, 236, 229, 0.3960784314) 0px 0px 10px 0px;
}

@media (min-width: 960px) and (max-width: 1399px) {
  .modal .modal-content {
    margin: auto;
    padding: 50px;
    width: 760px;
    height: 520px;
  }
  .modal .modal-content p {
    color: #713513;
    font-size: 18px;
    line-height: 110%;
  }
  .modal .modal-content .description {
    font-size: 24px;
  }
  .modal .modal-content .icon {
    width: 115px;
    height: 115px;
    margin: 40px 0;
  }
  .modal .modal-content input {
    font-size: 18px;
  }
  .modal .modal-content input .success,
  .modal .modal-content input .error {
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    margin-top: 75px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 560px) and (max-width: 959px) {
  .modal .modal-content {
    margin: auto;
    padding: 50px;
    width: 360px;
    height: 520px;
  }
  .modal .modal-content p {
    color: #713513;
    font-size: 16px;
    line-height: 110%;
  }
  .modal .modal-content .description {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .modal .modal-content h2 {
    font-size: 24px;
  }
  .modal .modal-content form {
    margin-top: 20px;
    width: 350px;
    height: 420px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  .modal .modal-content form input {
    border: 3px solid #FBD77D;
    border-radius: 15px;
    margin: 0 0 20px 0;
    padding: 10px 15px;
    width: 314px;
    color: #FBD77D;
    background-color: rgba(0, 0, 0, 0);
    font-family: "Futura PT", sans-serif;
    font-size: 16px;
  }
  .modal .modal-content form input.name-field {
    width: 314px;
    margin-bottom: 20px;
  }
  .modal .modal-content form input.first {
    margin-right: 0px;
  }
  .modal .modal-content form input.button-submit {
    padding: 15px 40px;
    background-color: #DCB354;
    color: #FFF9F1;
    font-size: 16px;
    line-height: 96%;
    width: 250px;
  }
  .modal .modal-content .icon {
    width: 115px;
    height: 115px;
    margin: 40px 0;
  }
  .modal .modal-content .success,
  .modal .modal-content .error {
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    margin-top: 80px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 320px) and (max-width: 559px) {
  .modal .modal-content {
    margin: auto;
    padding: 20px;
    width: calc(100% - 100px);
    height: auto;
  }
  .modal .modal-content p {
    color: #713513;
    font-size: 16px;
    line-height: 110%;
  }
  .modal .modal-content .description {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .modal .modal-content h2 {
    font-size: 24px;
    margin: 0 0 15px 0;
  }
  .modal .modal-content .close {
    font-size: 70px;
    cursor: pointer;
    text-align: right;
    width: 100%;
    height: 30px;
    line-height: 30%;
  }
  .modal .modal-content form {
    margin-top: 5px;
    width: calc(100% - 40px);
    height: auto;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  .modal .modal-content form input {
    border: 3px solid #FBD77D;
    border-radius: 15px;
    margin: 0 0 15px 0;
    padding: 7px 10px;
    width: calc(100% - 20px);
    color: #FBD77D;
    background-color: rgba(0, 0, 0, 0);
    font-family: "Futura PT", sans-serif;
    font-size: 16px;
  }
  .modal .modal-content form input.name-field {
    width: calc(100% - 20px);
    margin-bottom: 20px;
  }
  .modal .modal-content form input.first {
    margin-right: 0px;
  }
  .modal .modal-content form input.button-submit {
    padding: 10px 40px;
    background-color: #DCB354;
    color: #FFF9F1;
    font-size: 16px;
    line-height: 96%;
    width: 190px;
  }
  .modal .modal-content .again {
    padding: 10px 40px;
    background-color: #DCB354;
    color: #FFF9F1;
    font-size: 16px;
    line-height: 96%;
    width: 190px;
  }
  .modal .modal-content .icon {
    width: 100px;
    height: 100px;
    margin: 40px 0;
  }
  .modal .modal-content .success,
  .modal .modal-content .error {
    transition: opacity 0.3s ease-in-out;
    position: relative;
    margin-top: 20px;
    height: auto;
    width: calc(100% - 40px);
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=ModalFornPay.css.map */
