$font-family: 'Futura PT', sans-serif;
$font-style: normal;
$font-weight: 400;
$font-size: 24px;
$line-height: 110%;
$color: var(--border-color);
$transition-duration: 0.3s;

.frame13 {
  transition-duration: $transition-duration;
  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  height: auto;
  margin: 0 110px;
  position: absolute;
  pointer-events: none;
  left: -40px;

  .frame13_block {
    width: 991px;
    height: 100%;

    .containerforframe13{
      width: 100%;
      display: flex;
    };

    #column1,
    #column2 {
      width: 50%;
    }
    #column1 {
      padding-right: 15px;
    }

    #column2 {
      padding-left: 15px;
    }
  }

  .frame13_content_block {
    border-radius: 17px;
    background: linear-gradient(37deg, rgba(251, 245, 231, 0.80) -13.83%, rgba(255, 250, 239, 0.80) 50.49%, rgba(241, 233, 215, 0.80) 86.98%, rgba(202, 189, 163, 0.80) 109.35%);
    margin-bottom: 30px;
    padding: 25px;
    width: auto;
    height: fit-content;

    &_name {
      margin: 0;
      margin-bottom: 10px;
      font-size: 32px;
      font-weight: 700;
    }

    &_p {
      margin: 0;
    }
  }

  .frame13_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 90px;
  }
    &_h2 {
      line-height: 105.8%;
      font-size: 48px;
      font-weight: 700;
      margin-top: 90px;
      margin-bottom: 50px;
      text-align: center;
      background: linear-gradient(238deg, #713513 0.85%, #BE7C4D 43.51%, #DCAE7B 47.39%, #BE7C4D 50.62%, #713513 90.69%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
@media (min-width: 960px) and (max-width: 1399px) {
  .frame13 {
    transition-duration: $transition-duration;
    text-align: center;
    line-height: 110%;
    margin: 0;

    .frame13_block {
      width: 730px;
      height: 100%;
      margin: 0 85px;

      .containerforframe13{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      };

      #column1,
      #column2 {
        width: 730px;
      }
      #column1 {
        padding-right: 0px;
      }

      #column2 {
        padding-left: 0px;
      }
    }
    .frame13_content_block {
      border-radius: 17px;
      background: linear-gradient(37deg, rgba(251, 245, 231, 0.80) -13.83%, rgba(255, 250, 239, 0.80) 50.49%, rgba(241, 233, 215, 0.80) 86.98%, rgba(202, 189, 163, 0.80) 109.35%);
      margin-bottom: 20px;
      padding: 25px;
      width: auto;
      height: fit-content;
      text-align: left;

      &_name {
        margin: 0;
        margin-bottom: 10px;
        font-size: 36px;
        font-weight: 700;
      }
      &_p {
        margin: 0;
      }
    }
    .frame13_content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 90px;

      &_h2 {
        line-height: 110%;
        font-size: 24px;
        font-weight: 700;
        margin-top: 50px;
        margin-bottom: 52px;
        height: 40px;
        width: 720px;
        text-align: center;
      }
    }
  }
}
@media (min-width: 560px) and (max-width: 959px) {

  .frame13 {
    transition-duration: $transition-duration;
    font-size: 16px;
    text-align: center;
    line-height: 110%;
    margin: 0 0 0 0;
    height: 100%;
    width: calc(100% - 120px);
    padding: 0 50px;

    .frame13_block {
      width: auto;
      height: 100%;
      margin: 0 30px 60px 30px;

      .containerforframe13{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      };

      #column1,
      #column2 {
        width: 100%;
        height: auto;
      }
      #column1 {
        padding-right: 0px;
      }

      #column2 {
        padding-left: 0px;
      }
    }
    .frame13_content_block {
      border-radius: 17px;
      background: linear-gradient(37deg, rgba(251, 245, 231, 0.80) -13.83%, rgba(255, 250, 239, 0.80) 50.49%, rgba(241, 233, 215, 0.80) 86.98%, rgba(202, 189, 163, 0.80) 109.35%);
      margin-bottom: 15px;
      padding: 25px;
      width: auto;
      height: fit-content;
      text-align: left;

      &_name {
        margin: 0;
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 700;
      }

      &_p {
        margin: 0;
      }
    }

    .frame13_content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 20px;
    }

      &_h2 {
        line-height: 110%;
        font-size: 24px;
        font-weight: 700;
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;
      }

  }
}
@media (min-width: 320px) and (max-width: 559px) {

  .frame13 {
    transition-duration: $transition-duration;
    font-size: 24px;
    text-align: center;
    line-height: 110%;
    margin: 0;
    height: 100%;
    width: 100%;
    left: 0;

    .frame13_block {
      width: auto;
      height: 100%;

      .containerforframe13{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      };

      #column1,
      #column2 {
        width: 100%;
        height: auto;
      }
      #column1 {
        padding-right: 0px;
      }

      #column2 {
        padding-left: 0px;
      }
    }



    .frame13_content_block {
      border-radius: 17px;
      background: linear-gradient(37deg, rgba(251, 245, 231, 0.80) -13.83%, rgba(255, 250, 239, 0.80) 50.49%, rgba(241, 233, 215, 0.80) 86.98%, rgba(202, 189, 163, 0.80) 109.35%);
      margin-bottom: 15px;
      padding: 20px;
      width: auto;
      height: fit-content;
      text-align: left;

      &_name {
        margin: 0;
        margin-bottom: 5px;
        font-size: 24px;
        font-weight: 700;
      }

      &_p {
        margin: 0;
        font-size: 16px;
        line-height: 110%;
        font-family: "Futura PT", sans-serif;
      }
    }

    .frame13_content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 90px;
    }
      &_h2 {
        line-height: 110%;
        font-size: 24px;
        font-weight: 700;
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
      }
  }
}
