.content{
  &.PhoneMainInfo{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
      .frame3_block {
        opacity: 1;
        width: 855px;
        height: fit-content;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(254.41deg, rgba(54, 101, 157, 0.3) -11.32%, rgba(77, 136, 190, 0.3) 0.28%, rgba(232, 249, 255, 0.3) 48.18%, rgba(77, 129, 190, 0.3) 96.86%, rgba(54, 101, 157, 0.3) 103.1%);
        border-radius: 15px;
        padding: 30px;
        &.no-background {
          background: none;
        }

      }
      .frame3_block_h4 {
        font-family: 'Futura PT', sans-serif;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 44px */
        background: linear-gradient(158.27deg, #160D0B -26.36%, #CB8001 -0.2%, #FCDA84 26.9%, #FEF4A4 66.15%, #FCDA84 103.53%, #CB8001 137.17%, #180F0D 159.59%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .frame3_block_h2 {
        font-family: 'Futura PT', sans-serif;
        font-size: 36px;
        font-style: normal;
        width: fit-content;
        font-weight: 700;
        line-height: 110%; /* 44px */
        position: relative;
        margin: 0 0 20px 0 ;
        background: linear-gradient(158.27deg, #160D0B -26.36%, #CB8001 -0.2%, #FCDA84 26.9%, #FEF4A4 66.15%, #FCDA84 103.53%, #CB8001 137.17%, #180F0D 159.59%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .frame3_block_p {
        font-family: 'Futura PT', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 115%;
        height: auto;
        position: relative;
        margin: 0;
        width: 855px;
        white-space: pre-line;
        ul {
          margin: 0;
        }
        li {
          margin-bottom: 10px;
        }
        span {
          font-size: 24px;
          line-height: 27.6px;
        }
      }

      .frame3_block_h3 {
        font-family: 'Futura PT', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        height:40px;
        line-height: 110%; /* 44px */
        position: relative;
        margin: 0;
        background: linear-gradient(158.27deg, #160D0B -26.36%, #CB8001 -0.2%, #FCDA84 26.9%, #FEF4A4 66.15%, #FCDA84 103.53%, #CB8001 137.17%, #180F0D 159.59%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
  }
}
@media (min-width: 960px) and (max-width: 1399px) {
  .content{
    &.PhoneMainInfo{
      .frame3_block {
        width: 670px;
        margin: auto auto;
      }
      .frame3_block_h4 {
        font-size:24px ;
        font-weight: 700;
        line-height: 110%; /* 44px */
      }
      .frame3_block_h2 {
        font-size: 24px;
        font-style: normal;
        line-height: 110%;
        margin: 0 0 15px 0 ;
      }

      .frame3_block_p {
        font-size: 18px;
        line-height: 115%;
        height: auto;
        margin: 0;
        width: 670px;
        span {
          font-size: 18px;
          line-height: 110%;
        }
      }

      .frame3_block_h3 {
        font-family: 'Futura PT', sans-serif;
        font-size: 24px;
        line-height: 110%;
        height:40px;
        margin-bottom:15px ;
      }
    }
  }
}

@media (min-width: 560px) and (max-width: 959px) {
  .content{
    &.PhoneMainInfo{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      .frame3_block {
        width: 460px;
        height: fit-content;
      }
      .frame3_block_h4 {
        font-size: 24px;
        font-weight: 700;
        line-height: 110%; /* 44px */
        width: 460px;
      }
      .frame3_block_h2 {
        font-size: 24px;
        font-style: normal;
        line-height: 110%;
        margin: 0 0 20px 0 ;
      }

      .frame3_block_p {
        font-family: 'Futura PT', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 115%;
        height: auto;
        margin: 0;
        width: 460px;
        span {
          font-size: 24px;
          line-height: 110%;
        }
      }

      .frame3_block_h3 {
        font-family: 'Futura PT', sans-serif;
        font-size: 24px;
        line-height: 110%;
        height:80px;
        margin-bottom:20px ;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 559px) {
  .content{
    &.PhoneMainInfo{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      .frame3_block {
        width: 250px;
        height: fit-content;
        align-items: center;
        padding: 20px;
      }
      .frame3_block_h4 {
        font-size: 24px;
        font-weight: 700;
        line-height: 110%; /* 44px */
        margin: 0 0 15px 0 ;
        width: 250px;
        text-align: center;
      }
      .frame3_block_h2 {
        font-size: 24px;
        font-style: normal;
        line-height: 110%;
        margin: 0 0 15px 0 ;
        text-align: left;
        width: 250px;
      }

      .frame3_block_p {
        font-family: 'Futura PT', sans-serif;
        text-align: left;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        height: auto;
        margin: 0 0 15px 0 ;
        width: 250px;
        span {
          font-size: 18px;
          line-height: 110%;
        }
      }

      .frame3_block_h3 {
        font-family: 'Futura PT', sans-serif;
        font-size: 24px;
        line-height: 110%;
        height:58px;
        text-align: left;
        margin-bottom:10px ;
      }
    }
  }
}