#loader_background {
    background: linear-gradient(180deg, #FFF 0%, #F4FCFF 42.19%, #FFF9ED 79.17%);
    z-index: 998;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    #load {
        position: absolute;
        width: 600px;
        height: 36px;
        left: 50%;
        top: 45%;
        margin-left: -300px;
        overflow: visible;
        user-select: none;
        cursor: default;
        z-index: 999;
        
        div {
            position: absolute;
            width: 20px;
            height: 36px;
            opacity: 0;
            font-family: "Futura PT", sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            color: #9D5B36;
            animation: move 2s linear infinite;
            transform: rotate(180deg);

            &:nth-child(2) { animation-delay: 0.2s; }
            &:nth-child(3) { animation-delay: 0.4s; }
            &:nth-child(4) { animation-delay:0.6s; }
            &:nth-child(5) { animation-delay:0.8s;}
            &:nth-child(6) { animation-delay:1s; }
            &:nth-child(7) { animation-delay:1.2s; }
            &:nth-child(8) { animation-delay:1.4s; }
        }
    }       
}

@keyframes move {
    0% {
        left:0;
        opacity:0;
    }
    35% {
        left: 41%; 
        -moz-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    65% {
        left:59%; 
        -moz-transform:rotate(0deg); 
        -webkit-transform:rotate(0deg); 
        -o-transform:rotate(0deg);
        transform:rotate(0deg); 
        opacity:1;
    }
    100% {
        left:100%; 
        -moz-transform:rotate(-180deg); 
        -webkit-transform:rotate(-180deg); 
        -o-transform:rotate(-180deg); 
        transform:rotate(-180deg);
        opacity:0;
    }
}
  
@keyframes slideUpAndFadeOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.fadeOutUp {
    animation: slideUpAndFadeOut 1s ease forwards;
}
